* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.cabecario {
    height: 120px;
    width: 100%;
     background-color: rgb(229, 255, 206);
}


.logotipo {
    height: 130px;
    width: 270px;
    margin-left: 90px;
}

.insta {
    width: 30px ;
    float: right;
    margin-top: 70px;
    margin-right: 100px;
}

.tt {
    width: 30px ;
    float: right;
    margin-top: 70px;
    margin-right: 40px;
    border-radius: 5px;
}

.face {
    width: 30px ;
    float: right;
    margin-top: 70px;
    margin-right: 40px;
    border-radius: 5px;
}

.abas {
    height: 90px;
    width: 85%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(7, 233, 233);
    margin: 0 auto;
    border-radius: 2px 2px 23px 23px;
}

.links {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 24px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
}

.links:hover {
   cursor: pointer;
   text-decoration: underline;

}

.top-quemsomos {
    height: 65px;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 30px;
    
}

.top-quemsomos > h1 {
    padding-top: 13px;
    text-align: center;
    font-size: 45px;
    color: rgb(10, 155, 155);
}

.txt1-quemsomos {
    height: 390px;
    max-width: 50%;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 30px;
    float: left;
    margin-left: 150px;
    
}

.txt1-quemsomos > p {
    max-width: 90%;
    text-align: justify;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 25px;
    
}

.carousel-container {
    position: relative;
    overflow: hidden;
  }
  
.carousel {
    text-align: center;
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 30px;
    margin-right: 100px;
  }
  
.carousel-item {
    flex: 0 0 100%;
  }
  
.carousel-item img {
    width: 300px;
    height: auto;
    max-width: 1000px;
    max-height: 400px;
    border-radius: 20px;
  }
  
.prev-button, .next-button {
    position: absolute;
    top: unset;
    transform: translateY(0%);
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
.prev-button {
    left: 0px;
  }
  
.next-button {
    right: 0px;
  }
  
.carousel-indicators {
    text-align: center;
    margin-top: 10px;
  }
  
/* .indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #aaa;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  } */
  
.indicator.active {
    background-color: #333;
    width: 12px;
    height: 12px
  }

  
.carrossel { 
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    height: 400px;
    margin-top: 100px;
    margin: 0 auto;
    border-radius: 10px;
  
  }
  
.slide {
    display: inline-block;
    width: 100%;
  }

.slide img {
    width: 90%;
    height: 400px;
    transform: scaleX(-1);
    margin-left: 55px;
    border-radius: 35px;
  }
  
.prev, .next {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
 }

 hr {
    max-width: 1200px;
    margin-top: 100px;
    margin-left: 190px;

 }
 .parte2 {
    height: 600px;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 10px;
    
 }

 .parte2 > h1 {
  padding-top: 13px;
  text-align: center;
  font-size: 45px;
  color: rgb(10, 155, 155);
    
 }

 .box-yt > iframe{
    margin-top: 70px;
    border-radius: 20px;
    margin-left: 180px ;
    margin: center;
    box-shadow: 7px 7px 3px;
}


.rodape{
  margin-top: 40px;
   background-color: rgb(229, 255, 206);
  height: 150px;
  width: 100%;
  border-top: 2px solid black;
  }
  
  .logotipo-rodape{
  height: 70px;
  width: 200px;
  align-items: right;
  margin-left: 689px;
  margin-top: 15px;
  /* border: solid red 1px; */
  }
  
  .insta-rodape{
  width: 30px ;
  float: right;
  margin-top: 10px;
  margin-right: 680px;
  /* border: solid red 1px; */
  }
  
  .tt-rodape{
  width: 30px ;
  float: right;
  margin-top: 10px;
  margin-right: 70px;
  /* border: solid red 1px; */
  }
  
  .face-rodape{
  width: 30px ;
  float: right;
  margin-top: 10px;
  margin-right: 70px;
  /* border: solid red 1px; */
  }


  @media screen and (max-width: 1305px){
    .txt1-quemsomos{
      margin-left: 120px;
    }
    .txt1-quemsomos > p {
      margin-top: -25px;
    }
    .box-yt > iframe {
      margin-left: 70px;
      margin-top: 20px;
    }

    .logotipo-rodape {
      margin-left: 535px;
    }

    .insta-rodape {
      margin-right: 513px;
    }
    
  }